.todo-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-width: 425px) {
    .todo-list {
        flex-direction: column;
        width: 312px;
        margin-left: 10px;
    }
    .two{
        display: block !important;
        background-color: transparent !important;
    }
    .card-List{
        margin-top: 10px;
        padding: 10px !important;
    }
    .list-button{
        padding: 0 4px;
    }
    .list-ul{
        width: 296px;
     }
  }


.input-text1{
    height: 40px;
    width: 359px;
    position: relative;
    border: none;
    background-color: white;
    padding-left: 10px;

}

.icon{
    height: 40px;
    width: 35px;
    background-color: orangered;
    border: none;
    color: black;
    align-items: center;
    margin-right: 7px;
}

.input-text2{
    background-color: white;
    height: 40px;
    position: relative;
    border: none;
    background-color: white;
    padding-left: 10px;


}

.one{
    display: flex;
    flex-direction: row;
    justify-content: end;


}

.fa-solid{
    background-color: orangered;


}


.two{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: white;


}

.card-List{
    background-color: white;
    width: 150px;
    border: none;
}

.option{
    background-color: white;
    
}